<div ng-controller="citiesListController as ctrl">
	<h1 class="content-title">{{ 'cities.TITLE' | translate }}</h1>

	<div class="content">
		<plm-panel>
			<plm-panel-body class="cards-group">
				<a ng-repeat="city in ctrl.cities" ng-click="ctrl.displayCity(city.data.id)">
					<div class="card" ng-class="{'inactive': !city.data.active}">
						<div class="thumbnail-container">
							<img class="card-img-top" ng-src="{{city.cityImageUrl}}" alt="City image">
						</div>
						<div class="card-block">
							<p class="card-text">{{city.data.name}}<p>
						</div>
					</div>
				</a>
				<p class="text-center" ng-if="ctrl.cities.length == 0">
					{{ 'cities.EMPTY_LIST' | translate }}
				</p>
			</plm-panel-body>
			<plm-panel-footer>
				<a ui-sref="app.cities.create" ng-if="hasPermission('CITIES_ALTER')" class="btn btn-primary">
					{{ 'actions.NEW' | translate }}
				</a>
			</plm-panel-footer>
		</plm-panel>
	</div>
</div>

